<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="b29HelperApp">
    <head>
        <meta charset="utf-8">
        <title>B-29 Superfortress Helper</title>
        
        <!-- JQuery, required by Bootstrap and Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
        </script>       
        
        <!-- Bootstrap -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>

        <!-- Fork Me on Github -->
        <a href="https://github.com/rjackson90/b29-tools"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
        
        <!-- Page title and introduction -->
        <center>
            <h1>B-29 Superfortress: Bombers Over Japan 1944-1945</h1>
            <h2>Game design by Steve Dixon and Shawn Rife</h2>
        </center>
        
        <p>This app is meant to automate some of the more tedious parts of playing B-29. Select a
        chart from the list below to automatically interpret your die rolls using information about
        the game state which you supply. </p>
        
                
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <!-- Sidebar -->
                    <ul ng-controller="ChartListCtrl">
                        <li ng-repeat="chart in charts">
                            <span>
                                Chart <a href="{{chart.link}}">{{chart.number}}: {{chart.name}}</a>
                            </span>
                            <p>{{chart.instructions}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <!-- Body -->
                    <div ng-view></div>
                </div>
            </div>
        </div>
                
        <!-- This part is the submission form for the Weather In Zone chart.
             It really needs to be its own template. In this configuration, 
             the Weather In Zone chart form is being shown for *every* chart,
             which is no bueno.
        <div ng-controller="WeatherInZoneCtrl">
            <form name="weatherStateForm">
                Weather: <select ng-model="state.weather" 
                                 ng-options="opt for opt in weather_choices"></select>
                Altitude: <select ng-model="state.altitude"
                                  ng-options="opt for opt in altitude_choices"></select>
                Fuel: <input type="number" min="0" max="48" value="32" ng-model="state.fuel"/>
                Direction: <select ng-model="state.direction"
                                   ng-options="opt for opt in direction_choices"></select>
                Die roll: <input type="number" min="2" max="12" ng-model="dice" />
                <input type="button" ng-click="reset()" value="Reset" />
                <input type="submit" ng-click="submit()" value="Submit" />
            </form>

            <pre>state = {{state | json}}</pre>
            <pre>dice = {{dice | json}}</pre>
            <pre>new state = {{newState | json}}</pre>
            <pre>results =
            <ul>
                <li ng-repeat="result in results">{{result.severity}}: {{result.msg}}</li>
            </ul>
            </pre>
        </div>
        -->

        <!-- Angular.js is the last tag in Body for better loading times -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>

        <!-- Angular ng-route module -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js">
        </script>

        <!-- App components -->
        <script src="/static/app/app.js"></script>
        <script src="/static/app/controllers.js"></script>
    </body>
</html>

